@using SAKnowledgeBase.DataBase.Entities;

@model Theme

<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-12">
        <div class="card">
            <div class="card-header">
                Detail Theme ID @Model.Id
            </div>
            <div class="card-body">
        
                <p class="card-text">Theme Name: <b>@Model.ThemeName</b> </p>
                <p class="card-text">Sequence Num: @Model.SequenceNum</p>
                @if (@Model.Questions.Count != 0)
                {
                    <label>Questions List:</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Question Id</td>
                                <td>Question Name</td>
                                <td>Sequence num</td>
                                <td>Info</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Questions)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.QuestionName</td>
                                    <td>@item.SequenceNum</td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Question" class="btn btn-primary mt-1" asp-route-id="@item.Id">
                                            View
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="card-text">No questions in theme.</p>
                }
                <a class="btn btn-secondary" asp-controller="Theme" asp-action="Index">Cancel</a>
                <a class="btn btn-primary" asp-controller="Question" asp-action="Index">Questions</a>
            </div>

        </div>
    </div>
</div>
