@using SAKnowledgeBase.DataBase.Entities;

@model Question

<div class="row">
    <div class="col-lg-12 offset-lg-0 col-md-11 offset-md-0 col-12">
        <div class="card">
            <div class="card-header">
                Detail Question ID @Model.Id
            </div>
            <div class="card-body">
                <p class="card-text">Theme: <b>@Model.Theme.ThemeName</b></p>
                <p class="card-text">Question: <b>@Model.QuestionName</b></p>
                @if (@Model.Infos.Count != 0)
                {
                    <label>Info List:</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Id</td>
                                <td>Text</td>
                                <td>Photo</td>
                                <td>Sequence</td>
                                <td>Info</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Infos)
                            {
                                <tr>
                                    <td>@item.Id</td>

                                    <td>
                                        <font size="@item.TextFormat.TextSize">
                                            @if (@item.TextFormat.Bold == true)
                                            {
                                                @if (@item.TextFormat.Tilt == true)
                                                {
                                                    <i>  <b>@item.Text</b> </i>
                                                }
                                                else
                                                {
                                                    <b>@item.Text</b>
                                                }
                                            }
                                            else
                                            {
                                                @if (@item.TextFormat.Tilt == true)
                                                {
                                                    <i>@item.Text</i>
                                                }
                                                else
                                                {
                                                    @item.Text
                                                }
                                            }
                                            <br />
                                        </font>
                                    </td>
                                    <td>
                                        @if (@item.PhotoPath != null)
                                        {
                                            string imagePath = "~/img/" + @item.PhotoPath;
                                            <img src="@imagePath" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                                            <p class="card-text">@* Photo: *@</p>
                                        }
                                        
                                    </td>

                                    <td>@item.SequenceNum</td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Info" class="btn btn-primary mt-1" asp-route-id="@item.Id">
                                            View
                                        </a>
                                        <a asp-action="Edit" asp-controller="Info" class="btn btn-warning mt-1" asp-route-id="@item.Id">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="card-text">No info in question.</p>
                }
                <a class="btn btn-secondary" asp-controller="Info" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</div>

