@using SAKnowledgeBase.DataBase.Entities;

@model Question

<div class="row">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
        <div class="card">
            <div class="card-header">
                Detail Question ID @Model.Id
            </div>
            <div class="card-body">
                <p class="card-text">Question Name: @Model.QuestionName</p>
                @if (@Model.Infos.Count != 0)
                {
                    <label>Info List:</label>
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Text Name</td>
                                <td>Info</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Infos)
                            {
                                <tr>
                                    <td>@item.Text</td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Info" class="btn btn-primary" asp-route-id="@item.Id">
                                            View
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="card-text">No info in question.</p>
                }
                <a class="btn btn-secondary" asp-controller="Info" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</div>

