@using SAKnowledgeBase.DataBase.Entities;
@using SAKnowledgeBase.Models.ViewModel

@model QuestionEditViewModel

<form asp-action="Edit" asp-controller="Question" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Question Name:</label>
                <input asp-for="@Model.QuestionName" type="text" class="form-control required" placeholder="Enter text" tabindex="1">
                <span asp-validation-for="@Model.QuestionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Sequence Num:</label>
                <input asp-for="@Model.SequenceNum" type="text" class="form-control required" placeholder="Enter Sequence Num" tabindex="1">
                <span asp-validation-for="@Model.SequenceNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Theme:</label>
                <select class="form-select" asp-items="ViewBag.Themes" asp-for="@Model.ThemeId">
                    <option> --- Choose Theme --- </option>
                </select>
                <span asp-validation-for="ThemeId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-warning">
                        Update Question
                    </button>
                    <a asp-action="Index" asp-controller="Question" class="btn btn-secondary">
                        Cancel
                    </a>
                </center>
            </div>
        </div>
    </div>
</form>

