@using SAKnowledgeBase.Models.ViewModel;

@model MainInfoModel

<div class="row">
    <div class="col-md-12">
        <a type="button" class="btn btn-outline-primary mt-1 btn-lg" asp-controller="Main" asp-action="Index">
            <b>Все темы</b> 
        </a>
        @foreach (var item in Model.Themes)
        {
            <a asp-action="Details" asp-controller="Main" class="btn btn-primary mt-1 btn-lg" asp-route-id="@item.Id">
                @item.ThemeName
            </a>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Questions)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index" asp-route-id="@item.Id">
                @item.QuestionName
            </a>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Infos)
        {
            <font size="@item.TextFormat.TextSize">
                @if (@item.TextFormat.Bold == true)
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>  <b>@item.Text</b> </i>
                    }
                    else
                    {
                        <b>@item.Text</b>
                    }
                }
                else
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>@item.Text</i>
                    }
                    else
                    {
                        @item.Text
                    }
                }
                <br />
            </font>
            @if (@item.PhotoPath != null)
            {
                string imagePath = "~/img/" + @item.PhotoPath;
                <img src="@imagePath" class="img-fluid" width="600" height="800" asp-append-version="true" />
                <br />
                <br />
            }
        }
    </div>
</div>