@using SAKnowledgeBase.Models.ViewModel;

@model MainInfoModel

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Themes)
        {
            @* <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">@item.ThemeName</a> *@
            @* <br /> *@
            @* @item.ThemeName
            <br /> *@
            <a asp-action="Details" asp-controller="Main" class="btn btn-primary" asp-route-id="@item.Id">
                @item.ThemeName
            </a>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Questions)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">@item.QuestionName</a>
            @* @item.QuestionName
            <br /> *@
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Infos)
        {
            @item.Text
            <br />
        }
    </div>
</div>