@using SAKnowledgeBase.Models.ViewModel;

@model MainInfoModel
<div class="row">
    <div class="col-md-4 mt-1">
        @* <h3>
            Реклама 2
        </h3> *@
    </div>
    <div class="col-md-5">
        <form asp-controller="Main" asp-action="Index" method="get">
            <div class="input-group">
                
                <input name="searchFor" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
                <button class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
                <a class="btn btn-outline-primary" type="button" asp-controller="Main" asp-action="index">Reset Search</a>
            </div>
        </form>
    </div>
    <div class="col-md-3 mt-2">
        <form>
            Level:
            <input type="radio" id="age1" name="age" value="1">
            <label for="age1"> Low</label>
            <input type="radio" id="age2" name="age" value="2" checked="CHECKED">
            <label for="age2">Mid</label>
            <input type="radio" id="age3" name="age" value="3">
            <label for="age3">Hight</label>
        </form>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a type="button" class="btn btn-outline-primary mt-1 btn-lg" asp-controller="Main" asp-action="Index">
            <b>Все темы</b> 
        </a>
        @foreach (var item in Model.Themes)
        {
            <a asp-action="Details" asp-controller="Main" class="btn btn-primary mt-1 btn-lg" asp-route-id="@item.Id">
                @item.ThemeName
            </a>
        }
    </div>
</div>
<hr align="center" width="100%" size="3"/>

<div class="scrollable" style="overflow-y: scroll; overflow-x: hidden; height:110px;">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.Questions)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Question" asp-route-id="@item.Id">
                    @item.QuestionName
                </a>
            }
        </div>

        
    </div>
</div>
<h10>
    <br />
</h10>

 <div class="scrollable" style="overflow-y: scroll; overflow-x: hidden; height:600px;">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.Infos)
            {
                @if (@item.TextFormat.TextSize > 5)
                {
                    <hr align="center" width="100%" size="3" />
                }
                @if (@item.TextFormat.TextSize >= 5)
                {
                    <br />
                }
                <font size="@item.TextFormat.TextSize">
                    @if (@item.TextFormat.Bold == true)
                    {
                        @if (@item.TextFormat.Tilt == true)
                        {
                            <i>  <b>@item.Text</b> </i>
                        }
                        else
                        {
                            <b>@item.Text</b>
                        }
                    }
                    else
                    {
                        @if (@item.TextFormat.Tilt == true)
                        {
                            <i>@item.Text</i>
                        }
                        else
                        {
                            @item.Text
                        }
                    }
                    <br />
                </font>
                @if (@item.PhotoPath != null)
                {
                    string imagePath = "~/img/" + @item.PhotoPath;
                    <img src="@imagePath" class="img-fluid" width="600" height="800" asp-append-version="true" />
                    <br />
                    <br />
                }
            }
        </div>
    </div>
</div>