@using SAKnowledgeBase.Models.ViewModel;

@model MainInfoModel

<div class="row">
    <div class="col-md-12">
        <a type="button" class="btn btn-outline-primary mt-1 btn-lg" asp-controller="Main" asp-action="Index">
            <b>Все темы</b> 
        </a>
        @foreach (var item in Model.Themes)
        {
            <a asp-action="Details" asp-controller="Main" class="btn btn-primary mt-1 btn-lg" asp-route-id="@item.Id">
                @item.ThemeName
            </a>
        }
    </div>
</div>
<hr align="center" width="100%" size="3"/>

<div class="scrollable" style="overflow-y: scroll; overflow-x: hidden; height:110px;">
    <div class="row">
        <div class="col-md-12">
            @foreach (var item in Model.Questions)
            {
                <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Question" asp-route-id="@item.Id">
                    @item.QuestionName
                </a>
            }
        </div>
    </div>
</div>
@* <div class="scrollable-div" style="overflow: auto; height:200px; width:400px;">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut consequatur
        alias ipsam animi. Nobis ipsam incidunt sapiente qui, aspernatur culpa,
        ullam repellat ad fuga distinctio consequuntur odit quia laboriosam
        nostrum!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quae
        fugit vero unde molestias quam cum dolorum veritatis fugiat quasi eius
        eaque voluptas totam illo. Provident atque in quisquam iusto?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quae
        fugit vero unde molestias quam cum dolorum veritatis fugiat quasi eius
        eaque voluptas totam illo. Provident atque in quisquam iusto?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quae
        fugit vero unde molestias quam cum dolorum veritatis fugiat quasi eius
        eaque voluptas totam illo. Provident atque in quisquam iusto?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, quae
        fugit vero unde molestias quam cum dolorum veritatis fugiat quasi eius
        eaque voluptas totam illo. Provident atque in quisquam iusto?
    </p>
</div> *@

@* <hr align="center" width="100%" size="4" /> *@
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Infos)
        {
            @if (@item.TextFormat.TextSize > 5)
            {
                <hr align="center" width="100%" size="3" />
            }
            @if (@item.TextFormat.TextSize >= 5)
            {
                <br />
            }
            <font size="@item.TextFormat.TextSize">
                @if (@item.TextFormat.Bold == true)
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>  <b>@item.Text</b> </i>
                    }
                    else
                    {
                        <b>@item.Text</b>
                    }
                }
                else
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>@item.Text</i>
                    }
                    else
                    {
                        @item.Text
                    }
                }
                <br />
            </font>
            @if (@item.PhotoPath != null)
            {
                string imagePath = "~/img/" + @item.PhotoPath;
                <img src="@imagePath" class="img-fluid" width="600" height="800" asp-append-version="true" />
                <br />
                <br />
            }
        }
    </div>
</div>