@using SAKnowledgeBase.Models.ViewModel;

@model MainInfoModel

<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Themes)
        {
            @* <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">@item.ThemeName</a> *@
            @* <br /> *@
            @* @item.ThemeName
            <br /> *@
            <a asp-action="Details" asp-controller="Main" class="btn btn-primary" asp-route-id="@item.Id">
                @item.ThemeName
            </a>
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Questions)
        {
            <a class="navbar-brand" asp-area="" asp-controller="Main" asp-action="Index">@item.QuestionName</a>
            @* @item.QuestionName
            <br /> *@
        }
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Infos)
        {
            <font size="@item.TextFormat.TextSize">
                @if (@item.TextFormat.Bold == true)
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>  <b>@item.Text</b> </i>
                    }
                    else
                    {
                        <b>@item.Text</b>
                    }
                }
                else
                {
                    @if (@item.TextFormat.Tilt == true)
                    {
                        <i>@item.Text</i>
                    }
                    else
                    {
                        @item.Text
                    }
                }
                <br />
            </font>
        }
    </div>
</div>