@using SAKnowledgeBase.Models.ViewModel

@model UserCreateViewModel

<form enctype="multipart/form-data" asp-action="Create" asp-controller="AdminManagment" method="post">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Email:</label>
                <input asp-for="@Model.Name" type="text" class="form-control required" placeholder="Enter email" tabindex="1">
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input asp-for="@Model.Password" type="text" class="form-control required" placeholder="Enter Password" tabindex="1">
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label>Role:</label> <br />
                @foreach (var type in ViewBag.RoleTypesRadio)
                {
                    <input type="radio" asp-for="Role" value="@((int)type)" checked="@(type == ViewBag.RoleTypesRadio[1])" />
                    @* <input type="radio" asp-for="Role" value="@((int)type)" checked="@(type == Model?.Role)" /> *@
                    <label asp-for="Role">@type</label>
                    <br />
                }
            </div>
            @* <br /> *@


            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>
            <div class="card-footer">
                <center>
                    <button type="submit" class="btn btn-primary">
                        Create User
                    </button>
                    <a asp-action="Index" asp-controller="AdminManagment" class="btn btn-secondary">
                        Cancel
                    </a>
                </center>
            </div>
        </div>
    </div>
</form>


