@using SAKnowledgeBase.DataBase.Entities;

@model List<User>


<div class="row">
    @* <div class="col-md-2 mt-2">
        <h5>AdminManagment</h5>
    </div> *@
    <div class="col-md-7">
        <a asp-action="Create" asp-controller="AdminManagment" class="btn btn-success">
            Create new user
        </a>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Manage</td>
                    <td>Id</td>
                    <td>Email</td>
                    <td>Role</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-controller="AdminManagment" class="btn btn-warning mt-1" asp-route-id="@item.Id">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-controller="AdminManagment" class="btn btn-danger mt-1" asp-route-id="@item.Id">
                                Delete
                            </a>
                        </td>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
