@using SAKnowledgeBase.DataBase.Entities;

@model Info

<div class="row">
    <div class="col-lg-10 offset-lg-1 col-md-10 offset-md-1 col-12">
        <div class="card">
            <div class="card-header">
                Detail Info ID @Model.Id
            </div>
            <div class="card-body">
                <p class="card-text">Theme: <b>@Model.Question.Theme.ThemeName</b></p>
                <p class="card-text">Question: <b>@Model.Question.QuestionName</b></p>

                <p
                    <font size="@Model.TextFormat.TextSize">
                        @if (@Model.TextFormat.Bold == true)
                        {
                            @if (@Model.TextFormat.Tilt == true)
                            {
                                 <i>  <b>@Model.Text</b> </i>
                            }
                            else
                            {
                                 <b>@Model.Text</b>
                            }
                        }
                        else
                        {
                            @if (@Model.TextFormat.Tilt == true)
                            {
                                 <i>@Model.Text</i>
                            }
                            else
                            {
                                @Model.Text
                            }
                        }
                        <br />
                    </font>
                </p>
@* 
                <p class="card-text">Text: @Model.Text</p>  *@  
                

                <p class="card-text">TextSize: @Model.TextFormat.TextSize</p>
                <p class="card-text">Bold: @Model.TextFormat.Bold</p>
                <p class="card-text">Tilt: @Model.TextFormat.Tilt</p>
                <p class="card-text">Sequence Num: @Model.SequenceNum</p>
                <p class="card-text">Level: @Model.Level</p>
                @if (@Model.Link != null)
                {
                    <p class="card-text">Link: @Model.Link</p>
                }
                else
                {
                    <p class="card-text">No link in info.</p>
                }

                @if (@Model.PhotoPath != null)
                {
                    string imagePath = "~/img/" + Model.PhotoPath;
                    @* <img src="@imagePath" class="img-thumbnail" height="100" width="100" asp-append-version="true" /> *@
                    <img src="@imagePath" class="img-fluid" width="600" height="800" asp-append-version="true" />
                    <p class="card-text">@* Photo: *@</p>
                }
                else
                {
                    <p class="card-text">No photo in info.</p>
                }
                <a class="btn btn-secondary mt-1" asp-controller="Info" asp-action="Index">Cancel</a>
            </div>

        </div>
    </div>
</div>
