@using SAKnowledgeBase.Models.ViewModel

@model InfoViewModel
<div class="row" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-1 mt-2">
            <h5>Info</h5>
        </div>
        <div class="col-md-1">
            <a asp-action="Create" asp-controller="Info" class="btn btn-success">
                Create
            </a>
        </div>
        <div class="col-md-6">
            <form asp-controller="Info" asp-action="Index" method="get">
                <div class="input-group">
                    <select class="form-select" id="inputSearch" asp-items="ViewBag.Themes" name="searchTheme">
                        <option selected value=""> - Choose Theme - </option>
                    </select>

                    <input name="searchFor" class="form-control" id="inputSearch" aria-describedby="inputSearchComment" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit" id="inputSearch">Search</button>
                    <a class="btn btn-outline-primary" type="button" asp-controller="Info" asp-action="index">Reset Search</a>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <a asp-action="UploadInfoExcel" asp-controller="File" class="btn btn-success">
                Upload Excel File
            </a>
        </div>
        <div class="col-md-2">
            <form asp-action="ExportInfoExcel" asp-controller="File" method="post">
                <button type="submit" class="btn btn-success">
                    Generate Excel File
                </button>
            </form>
        </div>
    </div>
 
   

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Manage</td>
                    <td>Text</td>
                    <td>Photo</td>
                    <td>Sequence Num </td>
                    <td>Question Name</td>
                    <td>Question Sequence Num</td>
                    <td>Theme Name</td>
                    <td>Theme Sequence Num</td>
                    <td>Info</td>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Infos)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-controller="Info" class="btn btn-warning mt-1" asp-route-id="@item.Id">
                                Edit
                            </a>
                            <a asp-action="Delete" asp-controller="Info" class="btn btn-danger mt-1" asp-route-id="@item.Id">
                                Delete
                            </a>
                        </td>
                        <td>@item.Text</td>
                        <td>
                            @* @{
                        string imagePath = "~/img/" + @item.PhotoPath;
                        }
                        <img src="@imagePath" class="img-thumbnail" height="40" width="40" asp-append-version="true" /> *@

                            @if (@item.PhotoPath != null)
                            {
                                string imagePath = "~/img/" + item.PhotoPath;

                                <img src="@imagePath" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                            }
                            @*     else
                        {
                        <p>no photo</p>
                        } *@
                        </td>
                        <td>@item.SequenceNum</td>
                        <td>@item.Question.QuestionName</td>
                        <td>@item.Question.SequenceNum</td>
                        <td>@item.Question.Theme.ThemeName</td>
                        <td>@item.Question.Theme.SequenceNum</td>
                        <td>
                            <a asp-action="Details" asp-controller="Info" class="btn btn-primary" asp-route-id="@item.Id">
                                View
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


